.article-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  width: fit-content;
  height: fit-content;
  margin-bottom: 20px;
}

.article-contents {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-left: 50px;
}

.article-image {
  max-width: 500px;
  max-height: 100%;
  height: auto;
  width: auto;
}

a {
  color: white;
}

a:hover {
  color: red;
}