.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  width: fit-content;
  height: fit-content;
  margin-bottom: 20px;
}