.title-bar-container {
  position: relative;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid white;
  margin-bottom: 30px;
}

.header {
  font-size: 30px;
  font-weight: bold;
}

.title-bar-container > p {
  position: absolute;
  right: 50%;
  /* font-weight: bold; */
  font-size: 25px;
}